.sl_footer {
	background-color: get-color(primary);
	padding: $spacing--xl 0;

	@include breakpoint (small down) {
		padding: $spacing--lg 0 $spacing--xxl;
	}//end small down breakpoint

	p, a {
		color: get-color(inverse) !important;
	}//end p,a

	.sl_inner {
		& > p {
			font-size: 1rem;
			text-align: center;
			margin: 0 auto $spacing--md;
		}//end & > p
	}//end .sl_inner

	.sl_menu {
		justify-content: center;
		align-items: center;
		text-align: center;

		@include breakpoint (small down) {
			display: block;
		}//end small down breakpoint

		& * {
			color: get-color(inverse);
		}//end & *

		& > li {
			font-size: 1rem;
			position: relative;

			@include breakpoint (small down) {
				display: inline;
			}//end small down breakpoint

			&:not(:last-of-type) {
				padding-right: $spacing--sm;
				margin-right: $spacing--sm;

				@include breakpoint (small down) {
					padding: 0;
					margin: 0;
				}//end small down breakpoint

				&:after {
					content: '|';
					position: absolute;
					right: 0;
					top: 0;
					line-height: 1;

					@include breakpoint (small down) {
						position: static;
					}//end small down breakpoint
				}//end &:after
			}//end &:not(:last-of-type)
		}//end & > li

		a {
			padding: 0;
			line-height: 1;
			font-weight: $font-weight--regular;

			@include breakpoint (small down) {
				display: inline;
				white-space: normal;
			}//end small down breakpoint

			&:hover {
				text-decoration: underline;
			}//end &:hover
		}//end a
	}//end .sl_menu
}//end .sl_footer