.sl_header {
	background-color: get-color(inverse);
	padding: $spacing--md 0;

	@include breakpoint (small down) {
		padding: $spacing--xs 0;
	}//end small only breakpoint

	.sl_inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}//end .sl_inner

	.sl_button--phone {
		margin-bottom: 0;
	}//end .sl_button--phone

	.sl_logo {
		display: inline-block;
		img {
			height: auto;
			max-width: 275px;

			@include breakpoint (small down) {
				max-width: 175px;
			}//end small down breakpoint
		}//end img
	}//end .sl_logo
}//end .sl_header