//Inner
.sl_inner {
	@include inner;
	position: relative;
	z-index: 1;

	&--expanded {
		max-width: none;
		padding: 0;
	}//end &--expanded
}//end .sl_inner

.sl_content {
	overflow: hidden;

	&--contact {
		padding: $spacing--xxl 0;

		p {
			font-size: 1.5rem;
			max-width: 1127px;
			font-weight: $font-weight--bold;
		}//end p
	}//end &--contact
}//end .sl_content