.sl_sticky-cta {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: get-color(accent1);
	z-index: 1000;
	padding: $spacing--xs 0;
	box-shadow: $shadow;

	.sl_button--phone {
		margin: 0;
		padding: 0;
		background-color: none;
		font-size: 1.125rem;
		line-height: 1;
		font-weight: $font-weight--semibold;
	}//end .sl_button--phone
}//end .sl_sticky-cta