.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: $spacing--xl 0;
	display: flex;

	@include breakpoint (medium only) {
		background-position: right center;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		background: get-color(secondary) !important;
		padding: 0;
	}//end small down breakpoint

	&:after {
		@include pseudo;
		background-image: linear-gradient(90deg, rgba(#228789, 1) 0%, rgba(#36748a, 1) 40%, rgba(#d5eef2, 0) 100%);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include breakpoint (large only) {
			background-image: linear-gradient(90deg, rgba(#228789, 1) 0%, rgba(#36748a, .8) 50%, rgba(#d5eef2, .4) 100%);
		}//end large only breakpoint

		@include breakpoint (medium only) {
			background-image: linear-gradient(90deg, rgba(#228789, 1) 0%, rgba(#36748a, .8) 50%, rgba(#d5eef2, .2) 100%);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:after

	& > .sl_inner {
		height: 100%;

		@include breakpoint (medium down) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		& > .sl_card {
			max-width: 822px;

			@include breakpoint (small down) {
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//end & > .sl_card
	}//end & > .sl_inner

	h1 {
		margin-bottom: $spacing--xs;
		color: get-color(inverse);
	}//end h1

	p {
		font-weight: $font-weight--semibold;
		color: get-color(inverse);

		@include breakpoint (small down) {
			font-weight: $font-weight--regular;
		}//end small down breakpoint
	}//end p

	ul {
		font-weight: $font-weight--semibold;
		color: get-color(inverse);

		@include breakpoint (small down) {
			font-weight: $font-weight--regular;
		}//end small down breakpoint
	}//end ul

	.sl_button-group {
		justify-content: flex-start;
		margin-top: $spacing--md;

		.sl_button--phone {
			background-color: get-color(inverse);
			color: get-color(secondary);
		}//end .sl_button--phone
	}//end .sl_button-group

	&__media {
		height: 225px;
		background-size: cover;
		background-position: right center;
		width: 100%;
	}//end &__media
	
}//end .sl_billboard