.sl_list {
	h2 {
		text-align: center;
		margin-bottom: $spacing--xxl;

		@include breakpoint (small down) {
			margin-bottom: $spacing--lg;
		}//end small down breakpoint
	}//end h2

	.sl_inner {
		& > .sl_row {
			max-width: 1228px;
			margin: 0 auto;
		}//end * > .sl_row
	}//end .sl_inner

	&__video {
		height: 275px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $border-radius;

		@include breakpoint (small down) {
			height: 222px;
		}//end small down breakpoint
	}//end &__video

	&__media {
		padding-left: $spacing--xl * 2;

		@include breakpoint (medium down) {
			padding-left: 0
		}//end medium down breakpoint

		h3 {
			text-align: center;
			text-decoration: underline;
			font-size: 1.25rem;
			font-weight: $font-weight--semibold;
			margin-top: $spacing--xs/2;

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end h3
	}//end &__media

	&__content {
		padding-right: $spacing--xxxl;

		@include breakpoint (medium only) {
			padding-right: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-right: 0;
			margin-bottom: $spacing--xxl;
		}//end small down breakpoint

		ul {
			list-style: none;
			margin: 0 0 $spacing--sm $spacing--xs + rem-calc(15px);

			@include breakpoint (small down) {
				margin: 0 0 $spacing--sm 1.125rem;
			}//end small down breakpoint

			li {
				&:not(:last-of-type){
					margin-bottom: $spacing--md !important;

					@include breakpoint (medium only) {
						margin-bottom: $spacing--sm !important;
					}//end medium only breakpoint
				}//end &:not(:last-of-type)

				&:before {
					content: '';
					display: inline-block;
					margin-right: rem-calc(10px);
					margin-left: -2rem;
					background-image: $gradient--primary;
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
					border-radius: $border-radius--circle;

					@include breakpoint (small down) {
						margin-right: rem-calc(3px);
						margin-left: -1.125rem;
						width: 10px;
						height: 10px;
					}//end small down breakpoint
				}//end &:before

				a {
					text-decoration: underline;

					// &[href^=tel] {
					// 	text-decoration: none;
					// 	color: get-color(secondary);
					// }//end &[href^=tel]
				}//end a
			}//end li
		}//end ul

		.sl_button {
			margin-top: $spacing--xl;
			margin-bottom: 0;
		}//end .sl_button
	}//end &__content

	&--image {
		.sl_list__content {
			margin-bottom: $spacing--xl;
		}//end .sl_list__content
		
		.sl_list__media {
			padding-left: $spacing--xl;

			@include breakpoint (small down) {
				padding: 0;
				text-align: center;

				img {
					max-width: 170px;
					margin-bottom: $spacing--xl;
				}//end img
			}//end small down breakpoint
		}//end .sl_list__media
	}//end &--image
}//end .sl_list