.sl_statblock {
	padding: $spacing--xl 0;
	background-color: get-color(accent2);

	@include breakpoint (small down) {
		padding: $spacing--lg 0;
	}//end small down breakpoint

	& * {
		text-align: center;
	}//end & *

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner

	.sl_row {
		padding: $spacing--md 0;

		@include breakpoint (small down) {
			padding: $spacing--sm 0;
		}//end small down breakpoint

		& > .sl_cell {
			padding: 0 $spacing--sm/2;

			@include breakpoint (small down) {
				padding: 0;

				&:not(:last-of-type) {
					margin-bottom: $spacing--sm;
				}//end &:not(:last-of-type)
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end .sl_row

	&__stat {
		color: get-color(accent1);
		font-weight: $font-weight--bold;
		font-size: 3rem;
		line-height: 1;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end &__number

	&__content {
		max-width: 620px;
		margin: 0 auto;

		strong {
			color: get-color(accent1);
		}//end strong

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content
}//end .sl_statblock