.sl_text {
	padding: $spacing--xl 0;

	@include breakpoint (small down) {
		padding: $spacing--lg 0;
	}//end small down breakpoint

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner
}//end .sl_text