<div class="sl_header">
	<div class="sl_inner">
		<a class="sl_logo" href="/">
			<img src="{{site.logo.img}}" alt="{{site.logo.alt}}" />
		</a>

		{{#if site.phone}}
		<div class="sl_header__phone show-for-medium">
			{{> component-phone }}
		</div><!-- /.sl_header__phone-->
		{{/if}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_header -->