<div id="{{id}}" class="sl_module sl_testimonial-slider {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		<div id="testimonial-slider" class="sl_slider">
			{{#each items}}
				<div class="sl_card">
					<div class="sl_row">
						<div class="sl_card__media sl_cell large-6">
							<div class="sl_card__image" style="background-image: url({{img}})"></div>
						</div><!-- /.sl_card__media -->
						<div class="sl_card__content sl_cell large-6">
							<h4>What Former Patients Say</h4>
							<p class="sl_card__quote">{{quote}}</p>
							<p class="sl_card__cite">{{cite}}</p>
						</div><!-- /.sl_card__content -->
					</div><!-- /.sl_row -->
				</div><!-- /.sl_card -->
			{{/each}}
		</div><!-- /.sl_slider -->
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_testimonial-slider -->