<div id="{{id}}" class="sl_module sl_spotlight {{#if cta}}sl_spotlight--cta{{/if}} {{#if class}}{{class}}{{/if}}" {{#if background}}style="background-image: url({{background}})"{{/if}}>
	<div class="sl_inner">
		{{#if cta}}
		<div class="sl_spotlight__content">
			{{#markdown}}{{content}}{{/markdown}}
		</div>
		<div class="sl_spotlight__cta">
			{{> component-phone }}
		</div>
		{{else}}
		{{#markdown}}{{content}}{{/markdown}}
		{{/if}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_spotlight -->