<div id="{{id}}" class="sl_module sl_text {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#markdown}}{{content}}{{/markdown}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_spotlight -->