<div id="{{id}}" class="sl_module sl_billboard" style="background-image: url({{img}})">
	<div class="sl_inner">
		<div class="sl_card">
			{{#if custom}}
			<!-- Custom Billboard Markup Goes here -->
			{{else}}
			{{#markdown}}{{heading}}{{/markdown}}
			{{#markdown}}{{content}}{{/markdown}}
			{{/if}}
			<div class="sl_button-group">
				{{#each buttons}}
				<a class="sl_button" href="{{url}}" data-smooth-scroll data-offset="-100">{{text}}</a>
				{{/each}}
				{{#if phone }}
				{{> component-phone }}
				{{/if }}
			</div><!-- /.sl_button-group -->
		</div><!-- /.sl_card -->

		{{!-- Mobile Image --}}
		<div class="sl_billboard__media show-for-small-only" style="background-image: url({{img}})"></div>
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_billboard -->