<div id="{{id}}" class="sl_module sl_statblock {{#if class}}{{class}}{{/if}}">
	<div class="sl_inner">
		{{#if heading}}{{#markdown}}{{heading}}{{/markdown}}{{/if}}
		{{#if content}}{{#markdown}}{{content}}{{/markdown}}{{/if}}
		<div class="sl_row {{#if medium-up}}medium-up-{{medium-up}}{{else}}medium-up-3{{/if}} small-up-1">
			{{#each stats}}
			<div class="sl_cell">
				<p class="sl_statblock__stat">{{number}}</p>
				<div class="sl_statblock__content">
					{{#markdown}}{{content}}{{/markdown}}
				</div>
			</div><!-- /.sl_cell -->
			{{/each}}
		</div><!-- /.sl_row -->

		{{#if content2}}{{#markdown}}{{content2}}{{/markdown}}{{/if}}
	</div><!-- /.sl_inner -->
</div><!-- /.sl_module.sl_imagegrid -->